<style>
body {
	/* background-color: SaddleBrown; */
	background-image: url("resources/aboutus.jpg");
	
}
</style>
<body><center>
<div><font color="lightblue" size="5px"><b>
Collaborative World
</b></font>
</div>

<div>
<font color="lightblue" size="4px">
We are a major driver of innovation with extensive experience of 
strategic research collaborations,engaging with businesses large and small.
Our Research Partnerships provide a way for businesses to develop new
technologies and processes, or gain critical insights into business challenges.
We work closely with you to understand your specific needs and bring together our world
class research facilities and academics to create novel solutions to address those challenges.
Knowledge Transfer collaborations can also bring new, or tried and tested, methodologies
to your business-critical challenges. Through a recent graduate, or a secondee,
we can work with you to embed technical, process and business-model solutions.

Speak to a member of the team for more information on how you can work with us.


</font>
</div>

<div>
<font color="#FADBD8" size="4px">Contact on Aashigungunpandey@gmail.com</font>
</div>
</center>
</body>