<style>
body {
	/* background-color: SaddleBrown; */
	background-image: url("resources/aboutus.jpg");
	
}
</style>
<body><center>
<div><font color="lightblue" size="5px"><b>
Collaborative World
</b></font>
</div>
<br><br><br>
<div>
<font color="lightpink" size="4px">
We are a major driver of innovation with extensive experience of <br>
strategic research collaborations,engaging with businesses large and small.<br>
Our Research Partnerships provide a way for businesses to develop new<br>
technologies and processes, or gain critical insights into business challenges.<br>
We work closely with you to understand your specific needs and bring together our world<br>
class research facilities and academics to create novel solutions to address those challenges.<br>
Knowledge Transfer collaborations can also bring new, or tried and tested, methodologies<br>
to your business-critical challenges. Through a recent graduate, or a secondee,<br>
we can work with you to embed technical, process and business-model solutions.<br>

Speak to a member of the team for more information on how you can work with us.


</font>
</div>
<br><br><br>
<div>
<font color="#FADBD8" size="4px"><b>Contact on Aashigungunpandey@gmail.com</b></font>
</div>
</center>
</body>