<style>
body {
	/* background-color: SaddleBrown; */
	background-image: url("resources/getalljobs.jpg");
}
</style>

<body>
<center>
<div>

<font color="black" size="5px">Search : </font><input ng-model="search" placeholder="search jobs by name" style="width:250px;height:35px;"><br>
<br><br>
<table class="table table-striped" height="80%" width="50%">
<thead>
<tr>
<th>Title</th><th>Posted On</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs  | filter:search">
<td><a href="" ng-click="getJobDetails(job.id)">{{job.jobTitle}}</a></td>
<td>{{job.postedOn | date : 'yyyy-MM-dd'}}</td>
</tr>
</tbody>
</table>
</center>
</div>

<div ng-show="showJobDetails">
<b>Job Title : </b>{{job.jobTitle}} <br>
<b>Job Description : </b>{{job.jobDescription}} <br>
<b>Skills Required : </b>{{job.skillRequired}} <br>
<b>Years Of Experience : </b>{{job.yrsOfExp}} <br>
<b>Salary : </b>{{job.salary}} <br>
<b>Location : </b>{{job.location}} <br>
<b>Company Name : </b>{{job.companyname}} <br>
<b>Posted On : </b>{{job.postedOn | date:'yyyy:MM:dd'}} <br>


</div>
</body>