<!-- 
 <head>
 <link rel="stylesheet" href="css/font-awesome.css">
 <style>
body {
	/* background-color: SaddleBrown; */
	background-image: url("resources/login.jpg");
}
</style>
<style type="text/css">
  form-group {
    background: transparent;
    border: none;
  }
</style>

 </head>
 <body>
 <center>
 <span style="color:BurlyWood;size:4px;" >
{{error.message}}
</span>
<span style="color:BurlyWood;size:4px;" >
{{logoutSuccess}}
</span>
</center>
<center>
<br><br><br><br>

<div class="container" >
<form>
<div class="form-group" >
<font color="BurlyWood" size="4px">Enter Username <br></font>
<input type="text" ng-model="user.username" class="form-inline" 
style="width:250px;height:45px;" placeholder="Username" required>
</div>
<br><br>
<div class="form-group" >
<font color="BurlyWood" size="4px">Enter Password <br></font>
<input type="password" ng-model="user.password" class="form-inline"
style="width:250px;height:45px;" placeholder="Password" required>
</div>
<br><br>
<div class="form-group" >

<button type="button" ng-click="validateUser()" class="btn btn-info"
style="background-color:BurlyWood;" >
<span class="glyphicon glyphicon-log-in"></span>&nbsp Login</button>
</div>
</center>
</form>
</div> 
</body>  -->





































<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>

<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Glassy Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<!-- //css files -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700" rel="stylesheet">
<!-- //web-fonts -->
</head>
<style>
body {
	/* background-color: SaddleBrown; */
	background-image: url("resources/bann.jpg");
}
</style>
<body>
		<!--header-->
		<div class="header-w3l">
			<h1> Login Form</h1>
		</div>
		<br><br>
		<!--//header-->
		<!--main-->
		<div class="main-w3layouts-agileinfo">
	           <!--form-stars-here-->
						<div class="wthree-form">
							
							<form >
								<div class="form-sub-w3">
									<input type="text" name="Username" ng-model="user.username" placeholder="Username " required="" />
								<div class="icon-w3">
									<i class="fa fa-user" aria-hidden="true"></i>
								</div>
								</div>
								<div class="form-sub-w3">
									<input type="password" name="Password" ng-model="user.password" placeholder="Password" required="" />
								<div class="icon-w3">
									<i class="fa fa-unlock-alt" aria-hidden="true"></i>
								</div>
								</div>
								<label class="anim">
								<input type="checkbox" class="checkbox">
									<span><font color="white">Remember Me</font></span> 
									<a href="#">Forgot Password</a>
								</label> 
								<div class="clear"></div>
								<br><br><br>
								<div class="submit-agileits">
									<input type="submit" value="Login" ng-click="validateUser()">
								</div>
							</form>

						</div>
				<!--//form-ends-here-->

		</div>
		
</body>
</html>