<style>
body {
	/* background-color: SaddleBrown; */
	background-image: url("resources/editpro.jpg");
	
}
</style>

<body>
<center><br><br>
	<form>
		<font color="White" size="4px"> Enter username </font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<input type="text" ng-model="user.username" style="width:250px;height:35px;" disabled><Br><br>
		<font color="White" size="4px">Enter password </font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<input type="password" ng-model="user.password" style="width:250px;height:35px;" required><br><br>
		<font color="White" size="4px">Enter firstname</font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<input type="text" ng-model="user.firstname" style="width:250px;height:35px;" required><br><br>
		<font color="White" size="4px">Enter lastname </font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<input type="text" ng-model="user.lastname" style="width:250px;height:35px;" required><br><br>
		<font color="White" size="4px">Enter Email </font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<input type="email" ng-model="user.email" style="width:250px;height:35px;" required><br><br>
		<font color="White" size="4px">Enter phonenumber </font>&nbsp&nbsp&nbsp&nbsp
		<input type="text" ng-model="user.phonenumber" style="width:250px;height:35px;" required><br><br>
		<font color="White" size="4px">Select Role<br><br> 
		<input type="radio" value="STUDENT"
			ng-model="user.role">Student <br><br> <input type="radio"
			value="ALUMINI" ng-model="user.role">Alumini<br><br> <input
			type="radio" value="EMPLOYEE" ng-model="user.role">Employee<br><br>

		<input type="submit" ng-click="updateUser()" style="background-color:grey;" required>
			</font>
	</form>
	</center>
</body>