<style>
body {
	/* background-color: SaddleBrown; */
	background-image: url("resources/editpro.jpg");
	
}
</style>
<body>
<center><br><br>
<b> <font color="white" size="5px">User Details</font></b><br><br><br>

<b><font color="Honeydew">Firstname    : {{user.firstname}}<br></font></b><br><br>
<b><font color="Honeydew">Lastname     : {{user.lastname}}<br></font></b><br><br>
<b><font color="Honeydew">Email        : {{user.email}}<br></font></b><br><br>
<b><font color="Honeydew">Phone number : {{user.phonenumber}}<br></font></b><br><br>

<b><a href="#/pendingrequests" style="color:Bisque;">Back</a></b>
</center>
</body>