

<div ng-show="currentUser.role='ADMIN'">
Lists of Blog Posts Waiting for approval

<table class="table table-striped"> 
<thead>
<tr>
	<th>Title</th>
	<th>Author</th>
	<th>Posted On</th>
</tr>
</thead>

<tbody>
<tr ng-repeat="blog in blogPostsWaitingForApproval">
<td><a href="#/getblogpostbyid/{{blog.id}}">{{blog.blogTitle}}</a></td><td>{{blog.postedBy.username}}</td>
<td>{{blog.postedOn | date:'YYYY/MM/dd'}}</td>
</tr>
</tbody>

</table> 
</div>

<div>
Lists of Blog Posts which are approved<br>
<table>
<thead>
<tr>
<th>Title</th>
<th>Author</th>
<th>Posted On</th>
</tr>

</thead>
<tbody>
<tr ng-repeat="blog in blogPostsApproved">
<td><a href="#/getblogpostbyid/{{blog.id}}">{{blog.blogTitle}}</a></td><td>{{blog.postedBy.username}}</td>
<td>{{blog.postedOn | date:'YYYY/MM/dd'}}</td>
</tr>
</tbody>
</table>
</div>